.cards {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.card__image{
    width: 100%;
    display: block;
}

.card__content{
    line-height: 1.5;
    font-size: 14px;
    padding: 15px;
    background: #fafafa;
}

.card__content > p:first-of-type{
    margin-top: 0;
}

.card__content > p:first-of-type{
    margin-bottom: 0;
}

.card__info{
    padding: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: #eeeeee;
    font-size: 16px;
    border-bottom: 2px solid #cccccc;  
}

.card__link :hover{
    text-decoration: underline;
}